body {
	font-family: sans-serif;
}
.loggo {
	float: left;
	clear: both;
	width: 150px;
	margin: 0 0 0 0;
}
.kund {
	margin: 0 160px 0 80px;
}
.omtech {
	margin: 0 160px 0 0;
}
.varukorg { 
	margin: 0 150px 0 0;
}
.navigering2{
	margin: 0 0 0 0;
}
.navigering1{
	margin: 0 0 0 0;
}
.killar {
	margin: 0 220px 0 90px;
}
.tjejer {
	margin: 0 210px 0 0;
}
.nyheter { 
	margin: 0 0 0 0;
}
.konto{
	margin: 8px 0 0 0;
}
.searchbar{
	height: 52px;
}
.gobutton{
	height: 52px;
}