img {
	width: 200px;
}

body {
	background-color: brown;
}

h1 {
	color: hotpink;
	text-align: center;
}

h2 {
	color: purple;
}	

article { 
	background-color: gold;
}

aside {
	background-color: gold;
}

footer {
	text-align: center;
}