body {
	font-family: sans-serif;
}

header {
	background-color: forestgreen;
	text-align: center;
}

fieldset {
	width: 275px;
	float: left;
	text-align: center;
	margin: 55px;
	background-color: lightgreen;
}

legend {
	font-size: x-large;
	font-family: sans-serif;
}

.driver {
	width: 250px;
	padding: right;
	border-radius: 50%;
	border: 2px solid black;
}

.hybrid {
	width: 250px;
	padding: right;
	border-radius: 50%;
	border: 2px solid black;
}

.jarnklubba {
	width: 250px;
	height: 250px;
	padding: right;
	border-radius: 50%;
	border: 2px solid black;
}

.putter {
	width: 250px;
	padding: right;
	border-radius: 50%;
	border: 2px solid black;
}

.bag {
	width: 250px;
	padding: right;
	border-radius: 50%;
	border: 2px solid black;
}

.wedge {
	width: 250px;
	height: 250px;
	padding: right;
	border-radius: 50%;
	border: 2px solid black;
}

input {
	width: 75px;
}